h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    font-family: inherit;
    cursor: pointer;
    display: block;
}

.section-hero {
   padding-top: 146px;
   padding-bottom: 146px;
}

.container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

}

.hero-container {
    display: flex;
}

.hero-title {
    font-size: 40px;
    margin-bottom: 12px;
}

.hero-text {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 28px;
}

.hero-list {
    margin-bottom: 62px;
}

.hero-item:not(:last-child) {
    margin-bottom: 14px;
}

.hero-button {
    min-width: 200px;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: blue;
}



